$font-family--poppins: 'poppins', sans-serif;
$font-family--playfair: 'playfair_display', serif;
$font-family--ibm: 'ibm_plex_sans', sans-serif;
$font-family--cormorant: 'cormorant', serif;

$color-bg-main: #181411;
$color-main: #FFA553;
$color-white: #FFFFFF;
$color-text-black: #181411;


$screen-table: 768px;
$screen-desktop: 1280px;

